<template>
<section class="hero is-info is-medium">
			<!-- Hero header: will stick at the top -->
			<div class="hero-head">
				<header class="nav">
					<div class="container">
						<div class="nav-left">
							<a class="nav-item">
                        FirebaseCMS
                    </a>
						</div>
						<span class="nav-toggle">
          <span></span>
						<span></span>
						<span></span>
						</span>
						<div class="nav-right nav-menu is-hidden">
							<a class="nav-item is-active">
                        Home
                    </a>
							<a class="nav-item">
                        Examples
                    </a>
							<a class="nav-item">
                        Documentation
                    </a>
							<span class="nav-item">
            <a class="button is-primary is-inverted">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
							<span>Download</span>
							</a>
							</span>
						</div>
					</div>
				</header>
			</div>

			<!-- Hero content: will be in the middle -->
			<div class="hero-body">
				<div class="container has-text-centered">
					<h1 class="title">
						FirebaseCMS
					</h1>
					<h2 class="subtitle">
						Firebase based CMS for web sites

					</h2>
				</div>
			</div>

			<!-- Hero footer: will stick at the bottom -->
			<div class="hero-foot">
				<page-menu></page-menu>
			</div>
		</section>
</template>

<script>
	import PageMenu from './Menu.vue';


    export default {
       components:{
           PageMenu
       }
    };
</script>