<template>
    <nav class="tabs is-boxed">
    <div class="container">
        <ul>
            <li v-for="menu in menuData" :class="{'is-active' : isActive(menu)}">
                <a :href="menu.path"> {{menu.name}} </a>
            </li>
        </ul>
    </div>
</nav>
</template>

<script>
    export default {
        data() {
            return {
                menuData: [{
                    name: 'Home',
                    path: '/'
                }, {
                    name: 'Docs',
                    path: '/docs'
                }, {
                    name: 'About',
                    path: '/about'
                }]
            };
        },

        methods:{
            isActive(menu){
                return menu.path == window.location.pathname;
            }

        },
    };
</script>