<template>
  <div class="content">

    <div v-if="pageData == null">
       <div class="title is-1">Waiting for data... TODO nek loader</div>
      <button class="button is-primary is-loading">test</button>
    </div>

    <div v-if="pageData != null">
      <h1 class="title is-1">{{ pageData.title }}</h1>
      {{pageData.content}}
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        pageUrl: '',
        pageData: null
      };
    },

    mounted() {
      this.pageUrl = window.location.pathname;

      if (this.pageUrl == '/') {
        this.pageUrl = '/home';
      }

      //todo move to class and stuff
      firebase.database().ref('/pages' + this.pageUrl).once('value').then(snapshot => {
        console.log(snapshot.val());
        this.pageData = snapshot.val();
      }).catch(err => {
        console.log(err);
      });

    }
  };
</script>