<template>
	<div id="site">
		<page-header></page-header>

		<section class="section">
			<div class="container">
				<page-content></page-content>
			</div>
		</section>

		<page-footer></page-footer>
	</div>
</template>

<script>
	import PageHeader from './components/Header.vue';
	import PageContent from './components/Page.vue';
	import PageFooter from './components/Footer.vue';

	export default {
		name: 'app',
		components: {
			PageHeader, PageContent, PageFooter
		},
		data() {
			return {
				msg: 'Welcome to Your Vue.js App'
			}
		}
	}
</script>

<style lang="scss">
html,body{
	width:100%;
	padding:0;
	margin:0;
}
</style>